*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: 	#F5F5F5;
}

/* Navigation Section Styling */
.logo{
    text-align: center;
    font-size: 69px;
    margin-top: 1em;
}
.logo a{
    text-decoration: none;
    color: black;
}

/* Logo animation */
.logo h1{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.logo h1:before{
    content: "";
    width: 0%;
    height: 100%;
    background-color:#F5F5F5;
    position: absolute;
    animation-name: text;
    animation-duration: 2s;
    top: 0;
    left: 0;
}
@keyframes text{
    0%{
        width: 100%;
        z-index: 1;
    }
    100%{
        width: 0%;
        z-index: 1;
    }
}
.flexContainer{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flexItem{
    display: flex;
    list-style: none;
    margin-top: 1em;
    font-size: 20px;
}
.flexItem ul{
    display: flex;
    list-style: none;
}
.flexItem a{
    text-decoration: none;
    color: black;
    margin: 2em;
}
.flexItem a:hover{
    color: #A9A9A9;
}

/* Grid Section Styling */
.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    padding: 3em;
    grid-gap: 1em;
    width: 50%;
    margin: 0 auto;
}

.gridItem img{
    max-width: 100%;
    width: 100%;
    height: 80vh;
    animation: slowly 2s ease-in;
    opacity: 1;
}
.gridItem img:hover{
    opacity: 0.8;
}
#topSection{
    margin-top: 2em;
}

/* Making Top images slowly appear */
@keyframes slowly{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    
}

/* Social Media Styling */
.presence{
    text-align: center;
    font-size: 39px;
    overflow: hidden;
    font-weight: lighter;

}
.presence:before, .presence:after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 3px; /* This is for the thickness of the line  */
    position: relative;
    vertical-align: middle;
    width: 10%; /*this line is for sizing the line */
}
.presence:before{
    right: 0.5em; /* This is for moving the line*/
}
.presence:after{
    left: 0.5em; /* Moving line */
}
#midSection{
    margin-top: 2em;
}

/* Social Media Flexbox Styling */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}
.flex-item{
    display:flex;
}
.flex-item a{
    width: 100%;
}

.flex-item img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    animation: slowly2 3s ease-in;
}
.flex-item img:hover{
    opacity: 0.9;
}
.space1{
    margin-top: 3em;
}
/* Making the Social Images slowly appear */
@keyframes slowly2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* Icon Styling */
.icon{
    text-align: center;
    font-size: 1.5em;
    margin-top: 5em;
    margin-bottom: 5em;
}
.icon a{
    text-decoration: none;
    color: black;
    padding: 0.5em;
}
.icon i:hover{
    transition: 0.2s ease;
    transform: scale(1.5);
    color: silver;
}

/*          MENU page styling 
------------------------------------ */
.TopImage img{
    max-width: 100%;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    margin-top: 2em;
}
.TopText{
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    margin: 3em auto; 
}
.TopText span{
    font-weight: bold;
}
hr{
    width: 20%;
    margin: 0 auto;
    background-color: rgb(109, 96, 96);
    height: 0.2em;
}
.MenuHeader{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 3.5em;
}
.MenuHeader h3{
    display: flex;
    padding: 4em;
    text-align: center;
    justify-content: center;
    justify-items: center;
    letter-spacing: 0.3em;
    cursor: pointer;
}
.MenuHeader h3:hover{
    color: silver;
}
.signatureText{
    text-align: center;
    line-height: 2.5em;
}
#ImageOutPut img{
    margin-top: 2em;
    max-width: 100%;
}
/* FIND US page Styling     
--------------------------------- */
.findUs p{
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1em;
    
}
.findUs{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 3em;
}
.findGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imageContainer img{
    padding: 1em;
    max-width: 100%;
    width: 550px;
    height: 450px;
    margin-left: 1em;
}
.textContainer{
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0.2em;
    padding-top: 2em;  
}
.textContainer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.direction{
    padding-top: 1.2em;
    font-size: 13px;
}
.direction a{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.7em;
}
.direction a:hover{
    color: black;
    background-color: #A9A9A9;
}
.Icon{
    text-align: center;
    margin-top: 5em;
}
.Icon a{
    padding: 2em;
    color: black;
    font-size: 1.5em;
}
.Icon i:hover{
    transition: 0.2s ease;
    transform: scale(1.5);
    color: silver;
}

/* About page styling
---------------------- */
#about{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.aboutImage img{
    max-width: 100%;
    width: 50%;
    opacity: 1;
    filter: brightness(80%);
}

.aboutDescription{
    padding-top: 5em;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    width: 50%;
    margin: 0 auto; 
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutDescription h1{
    padding-bottom: 1em;
}
.aboutDescription h3{
    padding-top: 1em;
}

/* Mobile design for Find US Page and Menu Page
Note for min-width and max-width in media......
min-width is for upper and max-width is for lower than that reselution.....
------------------------------------------------------------------- */

/* This is for tablet */
@media screen and (max-width: 960px){
    .findGrid{
        display: block;
        text-align: center;
    }
    .direction{
        padding-bottom: 2em;
    }
    .MenuHeader h3{
        padding: 2em;
    }
}
@media screen and (max-width: 620px){
    .findGrid{
        display: block;
        text-align: center;
    }
    .logo h1{
        font-size: 1em;
    }
    
}
